
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
CrowdSourcedNews-MegasXLR/CrowdSourcedNews.Repositories/CrowdSourcedNews.Repositories.csproj
CrowdSourcedNews-MegasXLR/CrowdSourcedNews-MegasXLR.v11.suo
*.dll
CrowdSourcedNews-MegasXLR/CrowdSourcedNews.Services/bin/CrowdSourcedNews.DataTransferObjects.dll
CrowdSourcedNews-MegasXLR/CrowdSourcedNews.Services/bin/CrowdSourcedNews.DataTransferObjects.dll
